@{
    Layout = @"~/Pages/Layout/_BasicLayout.cshtml";
}

<h1>List of avaible awards:</h1>

<div class="Awards_Container">
    <p>Title: </p>
    <input class="Input_Button" type="submit" value="Edit award">
</div>

<h1>List of user and thier awards:</h1>

<div class="Users_Container">
    <div>
        <ul>
            <li>Name: </li>
            <li>Date of birth: </li>
            <li>Age: </li>
            <li>
                List of Awards:
                <ul class="UserAwards">
                    <li></li>
                </ul>
            </li>
        </ul>

        <input class="Input_Button" type="submit" value="Edit user">
    </div>
</div>