.Awards_Container {
    display: flex;
    border: 3px solid black;
}

.Users_Container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 400px;
}

.Award {
    background-color: #F1ED00;
    border: 1px solid black;
    padding: 2px;
    margin: 0 2px 0 2px;
}

.User {
    background-color: #77E2FF;
    font-size: 1.3em;
}

.Input_Form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.Input_Button {
    background-color: #8ADE00;
    border: 1px solid black;
    padding: 3px;
    margin-top: 8px;
    width: 100px;
}

.Post_Alert {
    background-color: #D2FFBC;
    padding: 10px;
    margin: 10px 0 10px 0;
    width: 150px;
    text-align: center;
}

.Registration_From {
    display: flex;
    flex-direction: column;
    background-color: #00AFDE;
    align-items: center;
}

.Input_Field {
    max-width: 200px;
}

.UserAwards {

}